<%= link_to 'go home', wines_path %>

<h3><%= @wine.name %></h3>

<div class="wine-details-wrapper">
  <img src="https://media.vinomofo.com/uploads/bf89e30017e583d465cf9fb38a8f5323?1594604171" alt="" class="wine-details-image">
  <div class="wine-details-right-panel">
    <strong class="wine-price">$ <%= @wine.price %></strong>
  </div>
</div>


